@inject NavigationManager NavigationManager
<h3>Redirecionando para onclick login ...</h3>

@code {
    protected override void OnInitialize()
    {
        NavigationManager.NavigateTo("/Login");
    }
}